html { /* Unebenheiten ausbessern*/
    zoom: 112%;
}

html, body { /* Horizontales scrollen verhinden */
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #EBEDEF;
}

.heading-greeting {
    margin: 0 0 0 555px;
    font-family: Calibre, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    font-size: 50px;
    color: #262626;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.prompt-greeting {
    margin: 10px 0 10px 520px;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    font-family: Calibre, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.station-info {
    height: 100px;
    width: 100%;
    border-radius: 15px;
    margin-left: 23px;
}

.station-info::after {
    content: "";
    display: table;
    clear: both;
}

.station-info .station-location {
    font-family: Calibre, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 800;
    font-size: 50px;
    color: #262626;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0;
    margin-top: 0;
}

.station-info .station-location-further {
    font-family: Calibre, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 18px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #636D76;
    display: inline-block;
    margin: 0 0 5px;
}

.logoutButton {
    margin-right: 20px;
    color: #3cbcc3;
    background-color: #EBEDEF;
    border: 2.5px solid #3cbcc3;
    font-family: Calibre, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 16px;
    padding: 0 11.5px;
}

.active-badge {
    display: inline-block;
    font-family: Calibre, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 11.5px;
    border-radius: 16px;
}

.station-info .station-coordinates-time {
    display: inline;
    font-family: Calibre, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #636D76;
    text-decoration: none;
    margin-right: 30px;
}

.station-info .station-local-time-label {
    display: inline;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #636D76;
}

.divider {
    background-color: #DDE1E4;
    height: 2px;
    margin-top: 10px;
}

.dashboard-meas {
    float: left;
    height: 300px;
    width: 865px;
    margin-left: 20px;
    margin-top: 30px;
    padding-top: 15px;

    background-color: white;
    border-radius: 15px;
}

.dashboard-meas::after {
    content: "";
    display: table;
    clear: both;
}

.dashboard-meas .donutCharts {
    margin-top: 15px;
}

.dashboard-meas .dashboard-meas-heading {
    display: inline;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    font-family: Calibre, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 10px 0 0 15px
}

.dashboard-meas .dashboard-meas-latest-data {
    display: inline;
    margin-left: 5px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #636D76;
}

.dashboard-meas .donutCharts .chart-container {
    display: inline-block;
    height: 350px;
    width: 350px;
    padding-top: 15px;
}

.dashboard-meas .donutCharts .chart-container .text {
    font-family: Calibre, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    font-size: 18px;
    color: black;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 4px;
}

.map {
    float: left;
    height: 660px;
    width: 480px;
    margin-left: 20px;
    margin-top: -315px;
    border-radius: 15px;
}

.map::after {
    content: "";
    display: table;
    clear: both;
}

.lineChart-container {
    width: 1300px;
    height: 310px;
}

.dashboard-lineChart {
    background-color: white;
    float: left;
}

#valveStatTable {
    margin: 20px 0 0 180px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 1000px;
}

#valveStatTable td, #valveStatTable th {
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    font-family: Calibre, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

#valveStatTable tr:nth-child(even){background-color: #f2f2f2;}

#valveStatTable th {
    font-weight: 600 !important;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3a954e;
    color: white;
}